/* Color Theme Swatches in RGBA */
$Manny-black: rgba(0,0,0, 1);
$Manny-grey: rgba(42,43,45, 1);
$Manny-darkGreen: rgba(54,75,38, 1);
$Manny-lightGreen: rgba(142,191,68, 1);
$Manny-olive: rgba(105,140,52, 1);
